<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script>
            const notes = JSON.parse('<%- JSON.stringify(locals.notes) %>');
            const members = JSON.parse('<%- JSON.stringify(locals.members) %>');
        </script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src = "/js/notes.js" defer></script>
        <link href = "/css/notes.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <img src = "/img/logo.png">
            <div class="middle">
                <i class="fa fa-folder active" aria-hidden="true"></i>
                <i class="fa fa-bell" aria-hidden="true"></i>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
            <div class="end">
                <img src = "/img/default.png">
            </div>
        </nav>
        <div class="container">
            <div class="sidebar">
                <div class = "active">
                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    Notes
                </div>
                <div>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Issues
                </div>
                <div>
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Tasks
                </div>
                <div>
                    <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                    Files
                </div>     
            </div>
            <div class="main">
                <div class="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input id = "searchBar" placeholder="Search">
                </div>
                <div class = "addNote">
                    <span class="head">Notes</span>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div id="noteContainer">
                
                </div>
            </div>
            <div id="members">
                <div id = 'memberContainer'>

                </div>    
            </div>
        </div>
        <div class = "modal">
            <div class = "noteForm">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <span class = "head">New Note</span>
                <div class="divider"></div>
                <form method="POST">
                    <textarea type="text"placeholder="Note description" name="description"></textarea>
                    <input type="submit" value="Create Note"> 
                </form>
            </div>
        </div>
        
    </body>
</html>